<h2>検索結果</h2>
<% if @post_images.present? %>
<ul><% @post_images.each do |post_image| %>
  <li>
    <%= image_tag post_image.get_image(200,200) %>
    <%= post_image.title %>
    <%= post_image.introduction %>
  </li>
  <% end %>
</ul>
<% else %>
検索ワードにヒットしませんでした
<% end %>
