<div class="container-fluid">
  <div class="row align-items-center">
   <div class="col-6 p-4">
    <%= image_tag "23122618.jpg",size:"700x600" %>
    </div>
    <p class="col-8 col-md-3 just-content-center pt-5 mx-auto h5">
          sweet tourへようこそ！このサイトはコミュニティサイトになります。<br />
          どなたでも閲覧は可能ですが、<br />
          投稿・ブックマークする際には会員登録する必要がございます<br />
          <br>
          <%= link_to "ログインはこちら", new_customer_session_path, class: "btn btn-outline-secondary mx-3 my-3" %>
          <br>
          <%= link_to "新規登録はこちら", new_customer_registration_path, class:"btn btn-outline-secondary mx-3 my-2" %>
          <%= link_to "ゲストログイン",customers_guest_sign_in_path, method: :post, class: "btn btn-outline-secondary mx-3 my-2" %>
          </p>
   </div>
  </div>
</div>