<h2>コメント一覧</h2>
<% @messages.each do |message| %>
<%= message.message %>
<%= message.customer.name %>
<%= link_to "削除", admin_message_path(message.id), method: :delete,"data-confirm"=>"本当に削除しますか？" %>
<% end %>