<h2>ブックマーク一覧</h2>
<% @bookmarks.each do |bookmark| %>
<%= bookmark.post_image.title %>
<%= image_tag bookmark.post_image.get_image(200,200) %>
<%= bookmark.memo %>
<%= link_to "詳細ページ",  post_image_path(bookmark.post_image.id)%>
<% end %>
